<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UserName" value="randomcensures"/>
    <add key="Token" value="oauth:yx16yviqmz00zzxghm0um28fm0lxqp"/>
  
  </appSettings>
</configuration>